@font-face {
    font-family: "Cafe24Ssurround";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cafe24SsurroundAir";
    src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font: 1.6rem "Cafe24Ssurround", sans-serif;

    overflow-x: hidden;

    background: var(--bg-color);
}

:root {
    --main-color: #3ca168;
    --sub-color: #1c4e38;
    --bg-color: #fdf8e1;
    --text-color: #000;
    --text-color2: #fff;

    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--sub-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5vw;
    z-index: 1000;
}

.gnb {
    display: flex;
    gap: 30px;
}

.gnb li a {
    display: block;
    font-size: 2rem;
    padding: 1rem 2rem;

    color: var(--text-color);
    /* border: 1px solid #000; */
}

.gnb li a i {
    /* border: 1px solid #f00; */
    display: block;
    padding: 12px 0;

    position: relative;
}

/* 가운데로 수정 */
.gnb li a i::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--sub-color);
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%);

    opacity: 0;

    transition: 0.4s;
}

.gnb li a:hover i::after {
    top: 0;
    left: 100%;
    transform: translate(-50%);

    opacity: 1;
}

.gnb li a:hover {
    color: var(--sub-color);
}
/*  */

section {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    height: 100vh;
}

.home-intro {
    /* background-color: #ffd3ce; */
}

.line1 {
    width: 2.5rem;
    height: 68.4rem;
    background: var(--main-color);
    margin: 0 19rem;
    position: absolute;
    top: 0;
    left: 0;
}

.line2 {
    width: 2.5rem;
    height: 68.4rem;
    background: var(--main-color);
    margin: 0 19rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home-intro h1 {
    position: relative;
    top: 400px;
    left: 0;
    font-size: 6.8rem;
    text-align: center;

    color: var(--sub-color);
}

.scroll-down {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    /* background: yellow; */
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--text-color2);

    z-index: 999;
}

.scroll-down b {
    display: block;
    font-family: Cafe24SsurroundAir;
}

.scroll-down strong {
    display: flex;
    gap: 5px;
}

/* about */
.about {
    /* background-color: #c1ffff; */
    z-index: 999;
}

/* 수정 */
.about h2 {
    padding: 18rem 0;

    font-size: 4rem;
    font-family: "Cafe24SsurroundAir";
    text-align: center;

    /* margin-left: 5rem; */

    margin: 0 auto;
}

.about h2 strong {
    font-size: 6.4rem;
    font-family: "Cafe24SsurroundAir";
    color: var(--main-color);
}

/* 수정 끝 */

.about p {
    font-size: 6rem;
    font-family: "Cafe24SsurroundAir";
    line-height: 1.2;
    color: var(--text-color2);

    margin: 0 auto;

    /* margin-top: 14rem; */

    width: 110.6rem;
}

/* skills */
.skills {
    /* background-color: #d1ffd1; */
    z-index: 999;
}

.skills-img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
}

.skills-img img {
    opacity: 0;
}

.skills-big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.skills-big img {
    /* width: 8.2rem; */
    height: 8.2rem;
}

.skills-small {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-top: 2rem; */

    padding: 2rem 0;
    gap: 5rem;
}

.skills-small img {
    width: 3.6rem;
    /* height: 3.6rem; */
}

/* project-face */
.text {
    font-size: 4.8rem;
    text-align: center;

    /* margin-top: 35rem; */

    padding: 28rem 0;
}

.project-text,
.graphic-text {
    position: relative;
    z-index: 999;

    /* color: var(--main-color); */
    color: var(--sub-color);
}

.face {
    display: flex;

    width: 35%;
    margin: 0 auto;
}

/* 눈 움직임 */

.eye {
    animation: eye-ani 2s both;
    transform-origin: 50% 50%;
}

@keyframes eye-ani {
    0% {
        clip-path: inset(0% 0);
    }
    10% {
        clip-path: inset(50% 0);
    }

    15% {
        clip-path: inset(0% 0);
    }
    100% {
        clip-path: inset(0% 0);
    }
}

/* portfolio: porject */
.steps,
.rotate-slider {
    z-index: 999;

    /* position: relative; */
}

.counter-title,
.count {
    overflow: hidden;
    height: 15rem;
    line-height: 1;
}

.count-container {
    transform: translateY(150px);
    will-change: transform;
}

.step-counter h1 {
    font-size: 50px;
    display: none;
}

.step-counter li {
    font-size: 150px;
    border: 1px solid #00f;
}

.cards {
    /* section에 position: relative 넣으니까 잘 넘어감 */
    /* 다른 영역들은 margin-top 없애니까 일단은 잘 넘어감(대신 padding값) */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 600px;
    will-change: transform;
}

.rotate-slider .cards {
    transform: translate(-50%, -30%) rotate(3deg);
}
.card {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 400px;
    min-height: 500px;
    margin-left: -250px;
}

#graphic-show .card {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 250px;
    margin-left: 0;

    /* width: 400px; */
    /* min-height: 500px; */
    min-height: 400px;
}

#graphic-show .card-img {
    width: 25rem;
    height: 25rem;

    /* margin: 0 auto; */
}

.card.active {
    border: 5px solid #0f0;
}

.hidden {
    display: none;
}

.card-img {
    aspect-ratio: 1/1;
}

.card-img img {
    border-radius: 15px;
}

.empty {
    opacity: 0;
}

.card-content {
    text-align: center;
}

/* 수정 */
.card-content p {
    font-size: 3.2rem;

    /* text-align: center; */

    position: absolute;
    top: 0;
    left: 38%;
    /* transform: translate(-12%, -40%); */

    color: var(--sub-color);
}

.card-title p {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.2rem;

    color: var(--sub-color);
}

/* 수정 끝 */
.card-content dl {
    color: var(--text-color2);
}
.card-content dl dt {
    font-size: 2.8rem;
}
.card-content dl dd {
    width: 45rem;
    margin-top: 1.5rem;
    font-size: 2.4rem;
    font-family: "Cafe24SsurroundAir";
    line-height: 1.5;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;

    transform: translateY(30px);
    /* opacity: 0; */
    transition: 0.4s 0.2s;
}

.card.active .btns {
    transform: translateY(0);
    opacity: 1;
}

.btns a {
    padding: 1.5rem 2.5rem;
    /* border: 1px solid #fff; */
    border-radius: 50px;
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--text-color2);
    background: var(--sub-color);
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;

    transform: translateY(30px);
    /* opacity: 0; */
    transition: 0.4s 0.2s;
}

.btn a {
    padding: 1.5rem;
    border-radius: 50px;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color2);
    background: var(--sub-color);
}

/* graphic */
.graphic {
    z-index: 999;
}

.contact {
    /* background-color: #c6baff; */
}

.sec-title {
    position: fixed;
    top: 150px;
    left: 100px;
    font-size: 3vw;
    z-index: 999;
}

.circle {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 700px;
    height: 700px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 999;
}

/* #graphic-show {
    opacity: 0;
} */

/* contact */
.contact {
    z-index: 999;
}

.contact p {
    font-size: 4.8rem;

    /* margin-top: 30rem; */

    text-align: center;

    font-family: "Cafe24SsurroundAir";

    animation: bounce-top 2s both;
}

.contact p strong {
    /* color: #fdf4df; */
    /* color: #f4bfdb; */

    color: #78e96c;
}

.contact-wrap {
    padding: 35rem 0;
}

.contact-text {
    /* margin-top: 8rem; */

    /* margin-left: 69rem; */

    margin: 0 auto;

    width: 54.7rem;
    height: 20.9rem;
}

.contact-text dl {
    display: flex;
    margin-top: 2rem;

    gap: 3rem;
    color: var(--text-color2);
}

.contact-text dl dt {
    font-size: 3.3rem;
    width: 11.5rem;
    /* border: 1px solid #000; */
}

.contact-text dl dd {
    font-size: 3.1rem;
    font-family: "Cafe24SsurroundAir";
}

/* top 버튼 */
.btn-top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: var(--sub-color);
    color: var(--text-color2);
    font-size: 2.4rem;

    z-index: 999;

    cursor: pointer;

    /* 왜 검은선이? */
    border: none;

    /* 이걸 해야 폰트가 나옴 */
    font-family: "Cafe24Ssurround";
}

footer {
    height: 7rem;
    background: var(--text-color);
    color: var(--text-color2);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
    font-family: "Cafe24SsurroundAir";
}

.bounce-top {
    animation: bounce-top 0.9s both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@media screen and (min-width: 1921px) {
    .about h2 {
        padding: 26rem 0;
        margin: 0 auto;
        font-size: 4.5rem;
    }

    .about p {
        margin-top: 10rem;
    }

    .face {
        margin: 0 auto;
        width: 30%;
        margin-top: 13rem;
    }

    .text {
        font-size: 6rem;
        padding: 33rem 0;
    }

    .card {
        top: 5%;
    }

    #graphic-show .card {
        top: 12%;
    }

    .contact-wrap {
        padding: 30rem 0;
    }

    .contact-text {
        margin: 0 auto;
        width: 54.7rem;
        height: 20.9rem;
        margin-top: 25rem;
    }
}
